{% extends 'base.html' %}
{% load static %}
{% load helpers %}

{% block header %}
    <h1>{% block title %}Secrets Providers Home{% endblock %}</h1>
{% endblock header %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Enabled Secrets Providers </strong>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-headings">
                <thead>
                    <tr>
                        <th>Secrets Backend</th>
                        <th>Supported Secret Types</th>
                        <th>Supported Authentication Methods</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="https://aws.amazon.com/secrets-manager/" rel="nofollow">AWS Secrets Manager</a></td>
                        <td><a href="https://docs.aws.amazon.com/secretsmanager/latest/userguide/manage_create-basic-secret.html" rel="nofollow">Other: Key/value pairs</a></td>
                        <td><a href="https://docs.aws.amazon.com/general/latest/gr/aws-sec-cred-types.html" rel="nofollow">AWS credentials</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://docs.aws.amazon.com/systems-manager/latest/userguide/systems-manager-parameter-store.html" rel="nofollow">AWS System Manager Parameter Store</a></td>
                        <td><a href="https://docs.aws.amazon.com/systems-manager/latest/userguide/param-create-cli.html" rel="nofollow">Other: Key/value pairs</a></td>
                        <td><a href="https://docs.aws.amazon.com/general/latest/gr/aws-sec-cred-types.html" rel="nofollow">AWS credentials</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://www.vaultproject.io" rel="nofollow">HashiCorp Vault</a></td>
                        <td><a href="https://www.vaultproject.io/docs/secrets/kv/kv-v2" rel="nofollow">K/V Version 2</a></td>
                        <td><a href="https://www.vaultproject.io/docs/auth/token" rel="nofollow">Token</a><br/>
                            <a href="https://www.vaultproject.io/docs/auth/approle" rel="nofollow">AppRole</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://delinea.com/" rel="nofollow">Delinea/Thycotic Secret Server</a></td>
                        <td><a href="https://github.com/DelineaXPM/python-tss-sdk#secret-server-cloud" rel="nofollow">Secret Server Cloud</a><br/>
                            <a href="https://github.com/DelineaXPM/python-tss-sdk#secret-server" rel="nofollow">Secret Server (on-prem)</a></td>
                        <td><a href="https://github.com/DelineaXPM/python-tss-sdk#password-authorization" rel="nofollow">Password Authorization</a><br/>
                            <a href="https://github.com/DelineaXPM/python-tss-sdk#domain-authorization" rel="nofollow">Domain Authorization</a><br/>
                            <a href="https://github.com/DelineaXPM/python-tss-sdk#access-token-authorization" rel="nofollow">Access Token Authorization</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock content %}
